

h2 {
    text-align: center;
 }

.gambar {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 200px;
    border-radius: 50%;
  }

.aboutme {
   text-align: justify;
}

.card {
    margin-top: 100px;
}
.btn {
    background-color: rgb(209, 201, 201);
}

.pic {
    /* margin-left: auto;
    margin-right: auto;   */
    margin-top: 20px;
    margin-bottom: 20px;  
    width: 100%;
 }

.link {
    text-align: center;
    margin-top: 30px;
  }

.icon {
     width: 30px;
  }

/* @media (max-width: 500px){
    .about{
            margin: 0 30px;
    }
} */